{% extends 'base.html' %}

{% block title %} NoteSpace {% endblock %}


{% block content %}
<div class="w-full mx-auto text-center mt-10">
    <h1 class="text-3xl mb-6">
        Welcome to Notespace !
    </h1>
    <h3 class="text-xl mb-6">
        A safe and simple space to write, organize, and revisit the moments that shape your life.
    </h3>
    <!-- <button type="submit" class="bg-blue-500 px-4 py-2 text-white rounded-lg">Submit</button> -->
     <div class="flex justify-center">
        <a class="border hover:bg-blue-500 hover:text-white bg-gray-100 py-2 px-4" href = "{% url 'login' %}">Login</a>
        <a class="border hover:bg-blue-500 hover:text-white bg-gray-100 py-2 px-4" href = "{% url 'signup' %}">Signup</a>

     </div>
    </div>
{% endblock %}
