{% extends 'base.html' %}

{% block title %} Create Account {% endblock %}


{% block content %}
<div class="max-w-lg mx-auto mt-10">
  <div class="bg-gray-100 p-8 rounded-lg shadow-md text-center">

  <h2 class="text-2xl mb-6">Create an Account</h2>
<form method="post" class="space-y-4">
    {% csrf_token %}
    <div class="text-left">
      <p class="font-semibold">Username:</p>
      <ul class="list-disc list-inside">
        <li>150 characters or fewer.</li>
        <li>Letters, digits and @/./+/-/_ only.</li>
      </ul>

      <p class="font-semibold mt-6">Password:</p>
        <ul class="list-disc list-inside">
          <li>Your password can’t be too similar to your other personal information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can’t be a commonly used password.</li>
          <li>Your password can’t be entirely numeric.</li>
        </ul>
    </div>
    <div class="text-left">
        {{ form.username.label_tag }}
        {{ form.username }}
    </div>

    <div class="text-left">
        {{ form.password1.label_tag }}
        {{ form.password1 }}
    </div>
    <div class="text-left">
        {{ form.password2.label_tag }}
        {{ form.password2 }}
    </div>

    <button type="submit" class="bg-blue-500 px-4 py-2 text-white rounded-lg">Submit</button>

<p>Have an account already? <a href = "{% url 'login' %}" class="underline hover:text-blue-600">Log in</a></p>

  </form>
  

  {% if form.errors %}
    <p style="color: red;">Invalid username or password</p>
  {% endif %}
  </div>
  </div>
{% endblock %}
