{% extends 'base.html' %}

{% block title %} Entries {% endblock %}

{% block content %} 
{% load mood_filters %}
<div class="w-[80%] mx-auto text-center mt-10 mb-4">
    {% if user.is_authenticated %}
        <h1 class="text-3xl">
            All Entries
        </h1>

        <a class="inline-block bg-blue-500 px-2 py-1 m-4 text-white" href="{% url 'new_entry' %}">New Entry</a>

        {% if entries %}
            <table class="table-auto border-collapse border border-gray-300 w-full">
            <thead class="bg-gray-100">
                <tr>
                <th class="border border-gray-300 px-6 py-2 whitespace-nowrap">Last Updated</th>
                <th class="border border-gray-300 px-6 py-2 whitespace-nowrap">All Entries</th>
                <th class="border border-gray-300 px-6 py-2 whitespace-nowrap">Preview</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                <tr>               
                    <td class="border border-gray-300 px-4 py-2" style="background-color: {{ MOOD_COLORS|get_color:entry.mood }};">
                        {{ entry.mood }}
                    </td>
                    <td class="border border-gray-300 px-4 py-2">
                        {{ entry.updated_at|date:"F j, Y" }}
                    </td>
                    <td class="border border-gray-300 px-4 py-2">
                        <a class="hover:text-blue-600" href="{% url 'view_entry' entry.id %}">{{ entry }}</a>
                    </td>
                    <td class="border border-gray-300 px-4 py-2">
                        {{ entry.content|truncatewords:5 }}...
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
