{% load static tailwind_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} Home {% endblock %}</title>
        {% tailwind_css %}
        
    </head>
    <body>
        <header>
            {% if user.is_authenticated %}
            <nav class="bg-gray-900 p-4 text-white flex justify-between items-center">                
                <a href="{% url 'journal' %}">NoteSpace</a>
                <ul class="flex space-x-4">
                    <li><a class = "bg-blue-500 text-white p-2" href = "{% url 'journal' %}">Home</a></li>
                    <li><a class = "bg-blue-500 text-white p-2" href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </nav>
            {% endif %}
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
    <footer></footer>
</html>